<div class="container">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 pt-4 border-top">
    <div class="col mb-3">
      <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
        <img src="https://s3.rdbuz.com/Images/rdc/rdc-redbus-logo.svg" alt="" style="width: 70px;">
      </a>
      <p class="text-body-secondary">redBus is the world's largest online bus ticket booking service trusted by over 25 million happy customers globally. redBus offers bus ticket booking through its website, iOS and Android mobile apps for all major routes.</p>
    </div>

    <div class="col mb-3">

    </div>

    <div class="col mb-3">
      <h5>About redBus</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About us</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Investor Relations</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Contact us</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Mobile version</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">redBus on mobile</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Sitemap</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Offers</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Careers</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Values</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>Info</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">T&C</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Privacy policy</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQ</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Blog</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Bus operator registration</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Agent registration</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Insurance partner</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">User agreement</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Primo Bus</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Bus Timetable</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>Our Partners</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Goibibo Bus</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Goibibo Hotels</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Makemytrip Hotels</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">IRCTC Hotels</a></li>
      </ul>
    </div>
  </footer>
  <div class="d-flex flex-column flex-sm-row justify-content-between py-4 border-top">
    <p>© 2025 Redbus India Pvt Ltd. All rights reserved</p>
    <ul class="list-unstyled d-flex">
      <li class="ms-3"><a class="link-body-emphasis" href="#"><img src="https://st.redbus.in/web/images/layout/social_facebook_new.svg" alt=""></a></li>
      <li class="ms-3"><a class="link-body-emphasis" href="#"><img src="https://st.redbus.in/web/images/layout/social_linkedin_new.svg" alt=""></a></li>
      <li class="ms-3"><a class="link-body-emphasis" href="#"><img src="https://st.redbus.in/web/images/layout/social_twitter_new.svg" alt=""></a></li>
      <li class="ms-3"><a class="link-body-emphasis" href="#"><img src="https://st.redbus.in/web/images/layout/social_instagram_new.svg" alt=""></a></li>
    </ul>
  </div>
</div>