<div class="container my-2" style="max-width: 1200px;">
    <div class="row">
        <div class="col-sm-6 mb-2">
            <div class="h-100">
                <h1 class="mb-3">NOW, <b>GET MORE THAN JUST BUS</b> TICKETS WITH REDBUS!</h1>
                <a href="" class="h4 text-decoration-none text-danger border-bottom border-danger pb-2"><img src="https://s3.rdbuz.com/web/images/layout/rail_vertical.svg" alt=""/> Train Tickets</a>
                <p class="my-3">Book IRCTC Train Tickets on redRail simple & superfast booking process with no service fee + no payment gateway charge.</p><br>
                <ul class="list-unstyled">
                    <li class="fw-bold mb-3"><img src="https://s3.rdbuz.com/web/images/homeV2/AboutUs/railAuthorized.png" alt=""> &nbsp; Authorised IRCTC Partner</li>
                    <li class="fw-bold mb-3"><img src="https://s2.rdbuz.com/web/images/homeV2/AboutUs/railHasslefree.svg" alt=""> &nbsp; Instant refunds on UPI payments</li>
                    <li class="fw-bold mb-3"><img src="https://s1.rdbuz.com/web/images/homeV2/AboutUs/railrefunds.svg" alt=""> &nbsp; Hassle- free customer support</li>
                </ul><br>
                <button class="btn btn-danger rounded-3 fs-5">Book Train Tickets</button>
            </div>
        </div>
        <div class="col-sm-6 mb-2">
            <div class="h-100" style="background-image: url('https://s3.rdbuz.com/web/images/homeV2/AboutUs/aboutUsImg.svg'); background-repeat: no-repeat;">
                <img src="https://s3.rdbuz.com/web/images/homeV2/AboutUs/railPop.png" alt="" style="width: 100%;;">
            </div>
        </div>
    </div>
    <br>
    <div class="rounded-5 p-4" style="background-image: url('https://s1.rdbuz.com/web/images/homeV2/appinstall/appInstallbg.svg'); background-repeat: no-repeat; background-size: cover;">
        <h2 class="text-white mb-4">ENJOY THE APP!</h2>
        <div class="row">
            <div class="col-sm-6 mb-2">
                <div class="card rounded-3 p-3">
                    <div class="row">
                        <div class="col-12 mb-3">
                            <h5><img src="https://s3.rdbuz.com/web/images/homeV2/appinstall/tick.svg" alt=""> &nbsp; Quick access</h5>
                            <h5><img src="https://s3.rdbuz.com/web/images/homeV2/appinstall/tick.svg" alt=""> &nbsp; Superior live tracking</h5>
                        </div>
                        <div class="col-6 border-end px-4">
                            <h5 class="fw-bold">4.5 ★</h5>
                            <p class="mb-0">50M+ downloads</p>
                            <h6>Play Store</h6>
                        </div>
                        <div class="col-6 px-4">
                            <h5 class="fw-bold">4.6 ★</h5>
                            <p class="mb-0">50M+ downloads</p>
                            <h6>App Store</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-6 mb-2">
                <p class="fw-bold text-white">Scan to Download</p>
                <img src="https://s1.rdbuz.com/web/images/homeV2/qrImage.svg" alt="">
            </div>
            <div class="col-sm-3 col-6 mb-2">
                <p class="fw-bold text-white">Download the App on</p>
                <img src="https://s2.rdbuz.com/web/images/homeV2/appinstall/playStore.svg" alt=""><br><br>
                <img src="https://s3.rdbuz.com/web/images/homeV2/appinstall/appStore.svg" alt="">
            </div>
        </div>
    </div>
    <br>
    <div class="rounded-5" style="background-image: url('https://s3.rdbuz.com/images/webplatform/india/primoHomeBannerComp.png');">
        <div class="row">
            <div class="col-sm-8 col-4 rounded-5" style="background-image: url('https://s3.rdbuz.com/images/webplatform/india/primoHomeBannerComp.png'); background-repeat: no-repeat; background-size: cover;"></div>
            <div class="col-sm-4 col-8 text-white rounded-5" style="background: rgb(35, 48, 88); padding: 5rem 4rem;">
                <h4 class="fw-bold">On time</h4>
                <h5>Punctual arrivals on 95% trips</h5>
                <br><br>
                <h4 class="fw-bold">Friendly Staff</h4>
                <h5>Always ready to help</h5>
                <br><br>
                <h4 class="fw-bold">Top Rated</h4>
                <h5>Buses with 4+ star rating</h5>
            </div>
        </div>
    </div>
    <br><br>
    <h3>BOOK BUS TICKETS ONLINE</h3>
    <p style="text-align: justify;">
        &nbsp; &nbsp; redBus is India's largest brand for online bus ticket booking and offers an easy-to-use online bus and train ticket booking; with over 36 million satisfied customers, 3500+ bus operators to choose from, and plenty of offers on bus ticket booking, redBus makes road journeys super convenient for travellers. A leading platform for booking bus tickets, redBus has been the leader in online bus booking over the past 17 years across thousands of cities and lakhs of routes in India.
    </p><p style="text-align: justify;">
        &nbsp; &nbsp; Booking a bus ticket online on the redBus app or website is very simple. You can download the redBus app or visit redbus.in and enter your source, destination & travel date to check the top-rated bus services available. You can then compare bus prices, user ratings & amenities, select your preferred seat, boarding & dropping points and pay using multiple payment options like UPI, debit or credit card, net banking and more. With redBus, get assured safe & secure payment methods and guaranteed travel with the best seat and bus operator of your choice. Once the bus booking payment is confirmed, all you have to do is pack your bags and get ready to travel with the m-ticket, which you can show to the bus operator on your mobile before boarding the bus. Online bus ticket booking with redBus is that simple!
    </p>
</div>
